* {
    box-sizing: border-box
}

body {
    font-family: "Lato", sans-serif;
    background-color: #444;
    margin: 0;
    overflow: hidden;
}

body {
    padding: 0px;
    margin: 0px;
    color: white;
}

.tab {
    float: left;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0px 24px rgba(0, 0, 0, 0.2);
    left: 0px;
    top: 0px;
    width: 25%;
    height: 100vh;
}


    .tab button {
        display: block;
        background-color: transparent;
        color: rgb(214, 205, 205);
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
    }

hr:not(.split) {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.tab button:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
}


.tab button.active {
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
}

.switch {
    float: right;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider,
.sliderc,
.slidert {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before,
    .sliderc:before,
    .slidert:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:checked + .sliderc:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:checked + .sliderc {
    background-color: #2196F3;
}

input:focus + .sliderc {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slidert:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:checked + .slidert {
    background-color: #2196F3;
}

input:focus + .slidert {
    box-shadow: 0 0 1px #2196F3;
}

.subtitle {
    color: #808080;
}

section {
    display: inline-block;
}

/* Rounded sliders */
.slider,
.sliderc,
.slidert {
    border-radius: 34px;
}

    .slider:before,
    .sliderc:before,
    .slidert:before {
        border-radius: 50%;
    }

.split {
    color: rgba(0, 0, 0, 0.2);
}


.tabcontent {
    float: left;
    color: white;
    padding: 0px 12px;
    text-align: left;
    width: 75%;
    border-left: none;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.1);
}

#upload input {
    width: 90%;
    border-radius: 12px;
    background-color: transparent;
    padding: 10px 10px;
    border: 1px solid white;
    color: white;
}

#upload button {
    background-color: #444;
    border: 1px solid white;
    border-radius: 12px;
    color: white;
    width: 100px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 800ms ease all;
}



    #upload button:hover {
        background: transparent;
        color: white;
    }

    #upload button:before,
    #upload button:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 2px;
        width: 0;
        background: rgb(224, 224, 224);
        transition: 400ms ease all;
    }

    #upload button:after {
        right: inherit;
        top: inherit;
        left: 0;
        bottom: 0;
    }

    #upload button:hover:before,
    #upload button:hover:after {
        width: 100%;
        transition: 800ms ease all;
    }

.soaPack {
    background: rgb(60, 50, 250);
    color: #fff;
    border: none;
    position: relative;
    float: left;
    height: 40px;
    font-size: 15px;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}



#holder {
    border: 2px dashed #bbb;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    word-wrap: break-word;
    padding: 25px;
    text-align: center;
    font: 21pt bold arial;
    color: #bbb;
}
